.table{
    text-align: center;
    margin-left: 50%;
    border: solid 1px;
    min-height: 380px;
    max-height: 380px
}
table tr{
    margin-top: 10px;
}
tr td{
    margin-left:10px; 
}
.cart{
    position: fixed;
    margin-bottom: 0%;
    width: 100%;
}